body {
	background: #fff;
	color: #000;
	font-family: 'Montserrat' sans-serif;
}

.mtspace5 {
	margin-top: 5em;
}

.swiper-button-prev:after {
	font-size: 16px;
}

.modal {
	z-index: 999999999999999999999 !important;
}

.dynamic-inner-footer .dynamic-contact-info p {
	text-transform: capitalize !important;
	display: flex;
	align-items: center;
}

.dynamic-inner-footer .contact-info i,
.dynamic-inner-footer .contact-info svg {
	margin-right: 0px;
	color: var(--primary-color);
	height: 13px;
	padding: 4px;
	width: 17px;
}
.dropdown-for-logged-in-user a,
.dropdown-for-logged-in-user button{
text-transform:uppercase;
font-size:14px!important;
}
.main-dashboard-page{
  padding-top:7rem;
  padding-bottom:3rem;
}
.atithyam-logo-div img{
  width:200px!important;
  height:auto!important;
}
.main-dashboard-page .bg-success{
  background-color:#c99e66!important;
}
.edit-profile-page-main-sec{
  padding-top:1rem!important;
  padding-bottom:3rem;
}
.edit-profile-page-main-sec .card .card-body{
  border-bottom:6px solid var(--brown);
  padding-bottom:2rem;
}
.pushed-wrapper {
	position: relative;
}
.members-main-heading{
  text-align:center;
  color:var(--brown);
  margin-bottom:1rem!important;
}
.edit-profile-page-main-sec .card form label{
  font-size:14px;
}
.edit-profile-page-main-sec .card form input,
.edit-profile-page-main-sec .card form select,
.edit-profile-page-main-sec .card form textarea{
  font-size:14px!important;
  border-radius:0!important;
}
.edit-profile-page-main-sec .card form input:focus,
.edit-profile-page-main-sec .card form select:focus,
.edit-profile-page-main-sec .card form textarea:focus{
  border-color:var(--brown)!important;
}


.pushed-image {
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
}

.pushed-header {
	margin-bottom: 10px;
}

.pushed-header span {
	display: block;
}

.pushed-header .header-1 {
	font-weight: 500;
	font-size: 22px;
  font-family: var(--font-heading), serif !important;

}
.no-image-bg{
	background-color: antiquewhite!important;
	min-height: 200px;
}
.two-line-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    text-align: left;
    font-size: 12px !important;
}
.two-line-text span {
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.4;
    list-style-type: disc;
    display: block;
}

.pushed-header .header-3 {
	color: #111;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}

.pushed-content {
	position: relative;
	padding: 15px 15px 40px 15px;
	background: #fff;
	font-size: 1rem;
}

.pushed-box {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: #fff;
	padding: 2rem;
}

.pushed-header {
	padding: 0px 15px;
}

.new-type-dine-sec .box-btn {
	font-size: 10px;
	padding: 1px 10px !important;
	line-height: 1.5rem;
}

.inner-no-banner-sec {
	margin-top: 12rem;
}

.property-book-now-header {
	margin-top: .5rem !important;
}


/* ===========================
   SignInComponent Styles
   =========================== */

/* Wrapper */
.signin-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Container */
.signin-container {
  width: 100%;
  max-width: 400px;
  background-color:#fff;
}
.signin-checkbox {
    display: flex;
    align-items: flex-start;
	margin-top:1rem;
	margin-bottom:1rem;
}
input#agree {
    background-color: var(--brown) !important;
    color: var(--brown) !important;
    height: 24px;
    width: 24px;
    border-radius: 0;
    fill: black;
}
input#agree1 {
    /* background-color: var(--brown) !important; */
    color: var(--brown) !important;
    height: 20px;
    width: 20px;
    border-radius: 0;
    fill: black;
    outline:1px solid #000;
}
.form-check-label-for-su{
  font-size:14px;
}
.no-image-box{
	background-color:#e7e7e7;
	min-height:300px;
}
/* Card */
.signin-card {
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 30px 25px;
  text-align: center;
}

/* Title */
.signin-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--brown);
  margin-bottom: 20px;
}

/* Tabs */
.signin-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 0px;
  width:100%;
}

.signin-tab {
  background: #e9ecef;
  border: none;
  padding: 10px 16px;
  border-radius: 0px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width:50%;
}

.signin-tab.active {
  background: var(--brown);
  color: #fff;
}

/* .signin-tab:hover {
  background: #d6d9dc;
} */

/* Form */
.signin-form {
  margin-top: 10px;
}

.signin-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.signin-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-size: 0.9rem;
  width: 70px;
  text-align: center;
}

.signin-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.signin-input:focus {
  border-color: var(--brown);
}

/* Buttons */
.signin-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signin-button.primary {
  background:var(--brown);
  color: #fff;
}

.signin-button.primary:hover {
  background: var(--brown);
}

.signin-button.success {
  background: var(--brown);
  color: #fff;
}

.signin-button.success:hover {
  background: var(--brown);
}

.signin-button:disabled {
  background: #adb5bd;
  cursor: not-allowed;
}

/* Footer */
.signin-footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #6c757d;
}

.signin-link {
  color: var(--brown);
  text-decoration: none;
  font-weight: 500;
}

.signin-link:hover {
  text-decoration: underline;
}


.right_col .top-nav {
    display: flex;
    list-style: none;
    background-color: #c99e66 !important;
    gap: 0px;
    border-radius: 10px;
    padding: 0px;
    justify-content: space-between;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding-left: 1rem;
    padding-right: 1rem;
}
.right_col .top-nav .am-link.am-active {
        background-color: #fff;
    border-radius: 10px 10px 0 0 !important;
    color: #000 !important;
    border: 2px solid #c99e66;
    border-bottom: none;
}
.contact-info-members p{
  margin-bottom:10px!important;
}
.contact-info-members p strong{
  font-weight:600!important;
}
.missing-stays-form {
    padding: 1rem;
    background-color: #c99e66;
    border-radius: 10px;
}
.right_col .top-nav .am-menu .am-link {
    display: block;
    text-decoration: none;
    border: 1px soild #f0f0f0;
       padding: 15px 10px;
    color: #fff;
    border-radius: 0px;
    font-size: 14px;
    position:relative;
}
.progress-card-for-member {
    background-color: #c99e66;
    margin-top: 1rem !important;
}
.progress-card-for-member p,
.progress-card-for-member h5{
  color:#fff;
}
.untold-stories-hotel-image img{
  height:250px!important;
  object-fit:cover!important;
}
.untold-stories-hotel-image .no-image-bg {
    background-color: #f0f0f0 !important;
    min-height: 250px!important;
}
.hero-section img,
.hero-section video{
height:100vh!important;
object-fit:cover;
}

.main-dashboard-page .progress{
  height:15px!important;
  border-radius:20px;
}
.main-dashboard-page .progress .bg-success {
    background-color: #7e2b13 !important;
}
 .top-nav .am-link.am-active:after{
  position:absolute;
  bottom:0;
  border-bottom:10px solid #f00;
  left:50%;
  transform:translateX(-50%);
}
 .top-nav .am-menu:has(.am-active):after{
  position:absolute;
  bottom:0;
  border-bottom:10px solid #f00;
  left:50%;
  transform:translateX(-50%);
}
 .top-nav .am-menu:has(.am-active):before{
  position:absolute;
  bottom:0;
  border-bottom:10px solid #f00;
  left:50%;
  transform:translateX(-50%);
}

.tonexttirertext{
  margin-bottom:10px!important;
}
.tonexttirertext b,
.tonexttirertext strong{
font-weight:600!important;
}
.members-main-top-nav {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding: 1rem;
}
.hotel-bottom-box-cta-n-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}
.hotel-bottom-box-cta-n-content .price-starts-hotel{
margin-bottom:0!important;
}
.hotel-bottom-box-cta-n-content .price-starts-rate-here{
  margin-bottom:0!important;
}
.hotel-bottom-box-cta-n-content .price-starts-rate-here strong{
  font-weight:600!important;
}
.hotel-bottom-box-cta-n-content .price-content-hotel-boxx{
  text-align:right;
}
@media (max-width: 1199.98px) {
    .right_col .top-nav {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
        .right_col .top-nav .am-menu {
        display: flex;
        flex-wrap: nowrap;
    }
}
@media only screen and (max-width: 991.98px) {
    .right_col .top-nav .am-menu .am-link {
        display: inline-flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        min-width: 0;
    }
}






