:root {
  --red: #803525;
  --lred:#f6eeeb;
  --gold: #c99f69;
  --dgold:#957b54;
  --white: #fff;
  --black: #000;
  --grey: #747474;
  --beige:#fefeed;
  --font-heading: var(--font-elsie);
  --font-body: var(--font-montserrat);
   --primary-radius: 15px;
  --primary-shadow: #63636333 0px 2px 8px 0px;
  --secondary-font-weight:600;
  --primary-font-weight:500;

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body), sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.bg-lred {
  background-color: var(--lred);
}
h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--font-heading), serif !important; */
  font-family: var(--font-body), serif !important;
  margin-top: 0;
  font-weight: 600!important;
  color: #111;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.text-justify {
  text-align: justify;
}
a {
  color: inherit;
  text-decoration: none;
}
p{
  font-size: 14px!important;
}
.f-12-new{
  font-size: 12px!important
}
.primary-radius {
    border-radius: var(--primary-radius);
}

.hero-section iframe .vp-center {
    display: block!important;
}

.global-heading{
    color: var(--red)!important;
    text-transform: uppercase!important;
    font-size: 30px !important;
    font-weight: 600 !important;
}
.section-padding{
    padding: 3rem 0;
}
.heading-style-1{
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}
.heading-style-1 .global-heading {
  color: var(--red) !important;
  text-transform: uppercase !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  position: relative;
}
.heading-style-1:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 80px;
  bottom: 0px;
  background-color: #803525;
  left: 50%;
  transform: translateX(-50%);
}
.heading-style-1:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  bottom: 4px;
  background-color: #803525;
  left: 50%;
  transform: translateX(-50%);
}
.hotel-list-box{
  background-color: var(--beige);
  padding: 3rem 0;
}
.hotel-list-box .hotel-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 2rem;
}
.hotel-list-box .hotel-card .hotel-card-body {
  padding: 0rem;
  margin-top: 1rem;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;

}
.hotel-list-box .cta-buttons-box .explore-more-btn{
background-color: transparent;
}
.hotel-list-box .hotel-card-body .card-text,
.hotel-list-box .hotel-card-body .card-text b
{
margin-bottom: 10px;
margin-top: 6px;
font-weight: 300;
}
.hotel-list-box .searchbar{
  /* display: inline-block; */
  padding: 0;
}
.hotel-list-box .searchbar .form-control{
  border: none;
  border-bottom: 1px solid #000;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: var(--primary-font-weight);
  text-transform: capitalize;
  border-radius: 0;
  background-color: transparent;
}
.primary-btns {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  padding: 4px 15px;
  font-size: 12px;
  font-weight: var(--primary-font-weight);
  text-transform: uppercase;
  border-radius: 0;
}
.heading-style-2{
  position: relative;
  margin-bottom: 2rem;
}

.heading-style-2:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 80px;
  bottom: 0px;
  background-color: #803525;
  left: 0%;
  transform: translateX(0%);
}
.heading-style-2:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  bottom: 4px;
  background-color: #803525;
  left: 0%;
  transform: translateX(0%);
}
.booking-form-inner-property-pages .booking-search-bar-btn-div {
  display: none!important;
}
.booking-form-inner-property-pages .header_booking_engine_container{
  top:90px!important;
}
.booking-form-inner-property-pages .header_booking_engine {
    background: #fff7ed;
}

.explore-more-btn {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 0;
    font-weight: var(--primary-font-weight);
    margin-right: 5px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}
.book-now-btn {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 0;
    font-weight: var(--primary-font-weight);
    margin-right: 5px;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    
}
input.form-control,
input.form-control:focus{
box-shadow: none!important;
border-radius: 0;
}
.form-submit-btn{
    max-width: 110px;
    display: inline-block;
    text-align: center;
    border-radius: 0;
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
}
.career-form{
  margin-left: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.career-form form{
  padding: 2rem;
}


.privacy-policy-page p,
.privacy-policy-page ul li{
text-align: justify;
font-size: 14px;
}

@media (max-width:767px){
  .global-heading {
    font-size: 25px !important;
}
.swiper-slide.swiper-slide-active .child-slider-content {
    opacity: 1!important;
    width: 100%!important;
    margin-top: -35px!important;
    background-color: #ffffffc9!important;
    margin-left: 0%!important;
    margin-bottom: 1rem!important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 17px!important;
}
.child-slider-content .child-slider-content-btm {
    
    gap: 6px!important;
    margin-left: 6px!important;
}
.child-slider-content .child-sl-title {
    font-size: 18px!important;
}
.child-sl-btn {
  
    padding: 5px 6px!important;
    font-size: 11px!important;
}
.main-parent-slider-experience .child-slider-rel .visit-hotel-nested {
    padding: 7px 6px!important;
    font-size: 11px!important;
    margin-left: 4px!important;
}
.right-nested-box .child-sl-price {
    font-size:12px!important;
}
.next-boxx-parent-div {
    margin-top: 1rem!important;
}

}

@media (min-width: 768px) {

	.pushed-image {
		height: 70vh;
		width: 60% !important;
	}

	.pushed-content {
		border-radius: 0px 20px;
		min-height: 200px;
		border: 3px solid #225476;
		box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.42);
	}

	.pushed-box {
		position: absolute;
		left: 55% !important;
		top: 50% !important;
		max-width: 45% !important;
		transform: translateY(-50%);
	}
 

}




.nearbyplaces-table table tbody tr td svg{
    display:inline-block;
  }
  .right-nested-box .child-sl-price {
    margin-bottom:0!important;
}
.main-section-title {
    z-index: 99;
}
@media (max-width:767px){
  .footer h5{
        font-size: 1.2rem;
  }
  .nearbyplaces-table table tbody tr td svg{
    display:inline-block;
  }
  .roomacomo .winter-box-content {
   
    min-height: auto;
}
  .pushed-box {
    padding: 0.3rem;
}
   .container-fluid.p-sm-0.padding-mob-0 {
    padding: 0 !important;
}
.untold-stories-hotel-image .main-new-hotel-box .price-show {
    font-size: 12px!important;
}
 .heading-style-1 .global-heading{
    font-size: 25px !important;
}
.career-form {
    margin-left: 0rem!important;
}
.signin-section {
    padding: 0px!important;
}
.signin-card {
    padding: 30px 11px;
}
.signin-tab {
    
    padding: 10px 10px;
    font-size: 0.8rem;
}
.signin-select {
    width: 70px !important;
}
.signin-input-group {
    gap: 0px;
}
.signin-checkbox label{
  font-size:14px;
  text-align:left;
}
.members-main-top-nav {
    padding: 0rem;
}
.right_col .top-nav {
    padding-left: 0rem;
    padding-right: 0rem;
}
.right_col .top-nav .am-menu .am-link {
    font-size: 12px;
}
.member-data-box-main h1{
  font-size:20px!important;
}
.edit-profile-page-main-sec select[name="MobilePrifix"] { 
  width: 70px !important; 
}
.edit-profile-page-main-sec button[type="submit"] { 
  padding:7px 10px!important;
  font-size:12px;
}
.edit-profile-page-main-sec button[type="button"] { 
  padding:7px 10px!important;
  font-size:12px;
}
.member-program-page-main-data .member-data-box-main .card{
display:block!important;
}
.member-program-page-main-data .member-data-box-main p,
  .member-program-page-main-data .member-data-box-main li{
  font-size:14px;
}
.member-program-page-main-data .member-data-box-main ul{
  padding-left:0!important;
}
.member-program-page-main-data .member-data-box-main .m-text-white,
.member-program-page-main-data .member-data-box-main .m-text-white p,
.member-program-page-main-data .member-data-box-main .m-text-white h4{
color:#fff;
}


}